<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="navbar :: head">
    <meta charset="UTF-8"/>
    <title>Contractor Upload Page</title>
</head>
<body>

<div class="sticky-top" th:include="navbar :: menu"></div>

<div class="container">
    <h1>Upload CSV file with contractors:</h1>

    <form th:action="@{/contractor/upload}" method="post" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <button type="submit">Upload</button>
    </form>

    <h1>Contractors:</h1>

    <ul th:each="contractor : ${contractors}">
        <li>
            <p th:text="${contractor.firstName} + ' ' + ${contractor.lastName}">contractor firstName and lastName</p>
            <p th:text="${contractor.postcode} + ' ' + ${contractor.city}">contractor postcode and city</p>
            <p th:text="${contractor.address}">contractor address</p>
            <p th:text="${contractor.apartmentType} + ' ' + ${contractor.amount}">contractor postcode and city</p>
        </li>
    </ul>
</div>

</body>
</html>