<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Upload CSV File Page</title>
</head>
<body>

<h1>Upload CSV file with data:</h1>

<form th:action="@{/contractor/upload}" method="post" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <button type="submit">Upload</button>
</form>

<h1 th:if="!${contractors} == null">Contractors:</h1>

<ul th:each="contractor : ${contractors}">
    <li>
        <p th:text="${contractor}">contractor</p>
    </li>
</ul>

</body>
</html>