<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Create Invoice Page</title>
</head>
<body>

<h1>Invoice Creator:</h1>

<form th:action="@{/invoice/add}" method="post" th:object="${invoice}">
    <input type="text" th:field="*{signature}"/>
    <input th:type="date" th:value="*{createdAt}" th:field="*{createdAt}"/>
    <select th:field="*{period}">
        <option selected="selected" value="January">January</option>
        <option value="February">February</option>
        <option value="March">March</option>
        <option value="April">April</option>
        <option value="May">May</option>
        <option value="June">June</option>
        <option value="July">July</option>
        <option value="August">August</option>
        <option value="September">September</option>
        <option value="October">October</option>
        <option value="November">November</option>
        <option value="December">December</option>
    </select>
    <input type="number" th:field="*{amount}"/>
    <button type="submit">Create</button>
</form>

</body>
</html>