<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="navbar :: head">
    <meta charset="UTF-8"/>
    <title>Invoice Home Page</title>
</head>
<body>

<div th:include="navbar :: menu"></div>

<h1>Invoice Home Page</h1>
<h3>Last created document:</h3>
<p th:text="${invoice}">invoice</p>

<!--<div th:if="!${invoices} == null">-->
    <h3>List of all documents:</h3>
    <ul th:each="inv : ${invoices}">
        <li>
            <p th:text="${inv}">invoice</p>
        </li>
    </ul>
<!--</div>-->


</body>
</html>