<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="navbar :: head">
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>
<form action="/login" class="m-2" method="post">
    <p class="alert alert-danger" role="alert" th:if="${msg != null}" th:text="${msg}"/>
    <div class="form-group">
        <label for="emailLabel">User name:</label>
        <input type="text" class="form-control" id="emailLabel" name="username" aria-describedby="emailHelp" autofocus="true"/>
    </div>
    <div class="form-group">
        <label for="passwordLabel">Password:</label>
        <input type="password" class="form-control" id="passwordLabel" name="password"/>
    </div>
    <p class="alert alert-danger" role="alert" th:if="${errorMsg != null}" th:text="${errorMsg}"/>
    <button type="submit" name="login" class="btn btn-primary">Login</button>
</form>
</body>
</html>