<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>PDF Invoice Printer</title>
    <link rel="stylesheet" th:href="@{/main.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>

<div th:fragment="menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" name="home" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="salesmanDropDown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Salesman
                    </a>
                    <div class="dropdown-menu" aria-labelledby="salesmanDropDown">
                        <a class="dropdown-item" name="uploadSalesman" href="/salesman/">Upload Salesman</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" name="resetSalesman" href="/salesman/reset">Reset Salesman</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="contractorDropDown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Contractors
                    </a>
                    <div class="dropdown-menu" aria-labelledby="contractorDropDown">
                        <a class="dropdown-item" name="uploadContractor" href="/contractor/">Upload Contractors</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" name="resetContractor" href="/contractor/reset">Reset Contractors</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="invoiceDropDown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Invoices
                    </a>
                    <div class="dropdown-menu" aria-labelledby="invoiceDropDown">
                        <a class="dropdown-item" name="allInvoices" href="/invoice/">All</a>
                        <a class="dropdown-item" name="addInvoice" href="/invoice/add">Add Invoice</a>
                        <a class="dropdown-item" name="addInvoicesBatch" href="/invoice/addBatch">Add Invoices Batch</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" name="printAllInvoices" href="/invoice/print">Print All Invoices
                            Batch</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" name="resetInvoices" href="/invoice/reset">Reset Invoices</a>
                    </div>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post" style="display: inline-block">
                <input class="btn btn-primary" type="submit" value="Logout"/>
            </form>
        </div>
    </nav>
</div>

</body>
</html>