<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="navbar :: head">
    <meta charset="UTF-8"/>
    <title>Salesman Upload Page</title>
</head>
<body>

<div th:include="navbar :: menu"></div>

<h1>Upload CSV file with salesmen:</h1>

<form th:action="@{/salesman/upload}" method="post" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <button type="submit">Upload</button>
</form>

<div class="container">
    <h1>Salesman:</h1>
    <div class="row mx-auto">
        <p th:if="${salesmen}!=null" th:text="${salesmen[0].companyName}">salesman companyName</p>
    </div>
    <div class="row mx-auto">
        <p th:if="${salesmen}!=null" th:text="${salesmen[0].postcode} + ' ' + ${salesmen[0].city}">salesman postcode and
            city</p>
    </div>
    <div class="row mx-auto">
        <p th:if="${salesmen}!=null" th:text="${salesmen[0].address}">salesman address</p>
    </div>
</div>

</body>
</html>